@model WebAmazon.Models.Supplier

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xóa nhà cung cấp</h2>

<h3>Bạn có chắc chắn muốn xóa nội dung này không?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-outline-danger" /> |
            @Html.ActionLink("Danh Sách", "Index", null, new {@class="btn btn-outline-secondary"})
        </div>
    }
</div>
